<h2> A Rudimntary Full-Stack App About NFL Head Coaches</h2>
<!-- <%  link_to 'Coaches Blog', controller: 'coaches' %> -->
<div id = 1><%= link_to 'Go To Coaches Database', coaches_path %></div>

<img src = "http://s32.postimg.org/enegx8f5h/bill_parcellsjpg_dfbf987e5f0f1860.jpg"></img>
<img src= "http://s32.postimg.org/4ybsw2185/1145756_1280x720.jpg"></img>
