// Place all the styles related to the coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

}

h1 {
  color: black;
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Helvetica, Arial

}
tr{
  color: black;
  font-size: 1em;
  text-align: center;
  font-family: "Times New Roman", Helvetica, Arial
  
}
